<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jigpud.snow" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:name=".SnowApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Snow.Staring"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">

        <!-- verification code login activity -->
        <activity android:name=".page.vclogin.VerificationCodeLoginActivity"
            android:launchMode="singleTask"/>

        <!-- password login activity -->
        <activity android:name=".page.pwdlogin.PasswordLoginActivity"
            android:launchMode="singleTask"/>

        <!-- register activity -->
        <activity android:name=".page.register.RegisterActivity"
            android:launchMode="singleTask"/>

        <!-- retrieve password activity -->
        <activity android:name=".page.retrievepwd.RetrievePasswordActivity"
            android:launchMode="singleTask"/>

        <!-- main activity -->
        <activity android:name=".page.home.HomeActivity"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <!-- MoreRecommendUserActivity -->
        <activity android:name=".page.morerecommenduser.MoreRecommendUserActivity"/>

        <!-- MoreFollowingAttractionActivity -->
        <activity android:name=".page.morefollowingattraction.MoreFollowingAttractionActivity"/>

        <!-- search activity -->
        <activity android:name=".page.search.SearchActivity"/>

        <!-- UserProfileActivity -->
        <activity android:name=".page.userprofile.UserProfileActivity"/>

        <!-- NewStoryActivity -->
        <activity android:name=".page.newstory.NewStoryActivity"/>

        <!-- StoryDetailActivity -->
        <activity android:name=".page.storydetail.StoryDetailActivity"/>

        <!-- EditProfileActivity -->
        <activity android:name=".page.editprofile.EditProfileActivity"/>

        <!-- EditBackgroundActivity -->
        <activity android:name=".page.editprofile.editbackground.EditBackgroundActivity"/>

        <!-- EditAvatarActivity -->
        <activity android:name=".page.editprofile.editavatar.EditAvatarActivity"/>

        <!-- EditNicknameActivity -->
        <activity android:name=".page.editprofile.editnickname.EditNicknameActivity"/>

        <!-- EditSignatureActivity -->
        <activity android:name=".page.editprofile.editsignature.EditSignatureActivity"/>

        <!-- AttractionDetailActivity -->
        <activity android:name=".page.attractiondetail.AttractionDetailActivity"/>

        <!-- AttractionPictureListActivity -->
        <activity android:name=".page.attractionpicturelist.AttractionPictureListActivity"/>

        <!-- FoodDetailActivity -->
        <activity android:name=".page.fooddetail.FoodDetailActivity"/>

        <!-- MoreRecommendAttractionActivity -->
        <activity android:name=".page.morerecommendattraction.MoreRecommendAttractionActivity"/>

        <!-- MoreFoodActivity -->
        <activity android:name=".page.morefood.MoreFoodActivity"/>

        <!-- FavoriteStoryActivity -->
        <activity android:name=".page.favoritestory.FavoriteStoryActivity"/>
    </application>

</manifest>